* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Rajdhani', sans-serif;
}

#form {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  
}

.fieldset {
  margin: 32px auto;
  padding: 16px 32px;
  border:  2px solid #999;
  border-radius: 6px;
  width: 400px;
  background: #e4e694a1;
}

.legend {
  font-size: 20px;
  padding: 4px;
  color: rgb(14, 14, 14);
}

#name, #password {
  color: rgb(0, 0, 0);
  display: block;
  margin: 5px 0;
  width: 100%;
  line-height: 2;
  border: solid #d2bcf9;
  border: solid #d4a9e45e;
  border-radius: 4px;
  outline-color: rgb(136 145 212 / 93%);
  background-color: #c8a6e29c;
  padding: 0 5px;
}


.button {
  text-decoration: none;
  border: 1px solid rgb(139, 124, 139);
  border-radius: 4px;
  background-color: rgb(232 148 148 / 60%);
  padding: 6px;
  width: 100%;
  cursor: pointer;
}

.user, .password-user, .remember-me{
  padding: 15px 0;
}
